{{$BaseName := .File.TranslationBaseName}}
<div class="p-3">
  V budoucnu budu seznam rozšiřovat s tím jak se budu učit nové věci.
</div>
<div class="techbar pt-4 flex md:justify-center flex-no-wrap flex-shrink-0 overflow-x-scroll md:overflow-hidden pb-3">
  {{ range (where .Site.Pages "Dir" "technologie/") }}
  <a
    class="flex-none tech border-b-2 hover:border-yellow-700 {{if eq .File.TranslationBaseName $BaseName}} border-b-2 border-yellow-400 techHighlight 
    {{ end }}"
    href="{{.Permalink}}"
  >
    <img src="/logo/{{.File.TranslationBaseName}}.png" alt=""
  /></a>
  {{ end }}
</div>
