{{define "Head"}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" async></script>

{{ if not .Params.mobile }}
<meta name="viewport" content="width=1280" />

{{ end }}
{{if .Params.redirect}}
<script>
  window.location.replace('{{.Params.redirect}}');
</script>
{{ end }}
{{ range.Params.libs }}
{{if eq . "P5.JS" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.sound.min.js"></script>

{{else if eq . "PHASER3"}}
<script src="//cdn.jsdelivr.net/npm/phaser@3.18.1/dist/phaser.min.js"></script>
{{ else if in . "https://"}}
<script src="{{.}}"></script>
{{ else if in . "http://"}}
<script src="{{.}}"></script>
{{else}}{{ end }}
{{ end }}
<style>
  .popupBox {
    right: 142px;
    top: 60px;
  }
</style>
{{ end }}


{{define "header"}}
<h1>{{.Title}}</h1>
<div class="popupBox bg-black lock hidden sm:block fixed" style="visibility: hidden;"
  data-tippy="Odemknout scrollování">
  {{ partial "Icon-lock" . }}
</div>
<div class="popupBox bg-black unlock hidden sm:block fixed " style="visibility: visible;"
  data-tippy="Zamknout scrollování">
  {{ partial "Icon-unlock" . }}
</div>
{{ end }}
{{ define "content" }}

<div class="game fadeIn animated">
  <button id="screenshot" class="absolute right-0 m-4" style="display: none">Vyfotit</button>

  {{.Content}}
</div>
{{$libs := .Params.libs}}
<div class="libs mt-16 pb-10">
  <h2 class="text-lg">Použité Technologie</h2>
  <hr class="border border-green-200 opacity-75 bg-green-200">
  <ul class="px-6 lg:px-12 pt-6 flex flex-col  md:flex-row wow fadeInLeft ">
    {{ range.Site.Pages }}
    {{if in $libs .File.TranslationBaseName  }}
    <li class="pb-2 flex-initial   list-none bg-white  p-4 rounded-lg my-2 md:m-6 libs-min-width">
      <img class="inline-block pr-4 mr-2 float-left " src="/logo/{{.File.TranslationBaseName}}.png" />
      <div class="pt-1 inline">{{.Title}},
        <br>
        <a class="text-green-800 " href="/technologie/{{ lower (.File.TranslationBaseName) }}"> Více
          informací</a></div>
    </li>
    {{ end }}
    {{ end }}

  </ul>

</div>
<br />
<div class="disqus px-2">
  {{ template "_internal/disqus.html" . }}
</div>


<script>
  const iLock = document.querySelector('.popupBox.lock svg');
  const iUnLock = document.querySelector('.popupBox.unlock svg');

  iLock.addEventListener('click', enableScrolling);
  iUnLock.addEventListener('click', disableScrolling);

  function disableScrolling() {
    iLock.style.visibility = 'visible';
    iUnLock.style.visibility = 'hidden';
    console.log('scroll disabled');
    var x = window.scrollX;
    var y = window.scrollY;
    window.onscroll = function () {
      window.scrollTo(x, y);
    };
  }

  function enableScrolling() {
    iLock.style.visibility = 'hidden';
    iUnLock.style.visibility = 'visible';
    console.log('scroll enabled');
    window.onscroll = function () { };
  }
  let eventSet = false;
  let counts = 0;
  let placeCanvasInterval;

  window.addEventListener('DOMContentLoaded', event => {
    placeCanvasInterval = setInterval(function () {
      let main = document.querySelector('main .game');
      let IScanvas = document.querySelector('main .game canvas');
      let canvas = document.querySelector('canvas');
      EverythingToScope();

      /*
        if (!IScanvas && canvas) {
          document.querySelector('main .game').appendChild(canvas);
          canvas.style.display = 'block';




            {{if  in .Params.libs "P5.JS" }}
            if(canvas !== null && !eventSet){
              document.body.onclick = function(e){
               if(e.path[0].id === "defaultCanvas0"){
               disableScrolling()
               } else {
               }
             }

            eventSet = true;

            screenshot.style.display = 'block';
            {{end}}
          }




        }
        */
    }, 300);
    /*
    let screenshot = document.querySelector('#screenshot');
    function ScreenShot() {
      const download = document.createElement('a');
      download.setAttribute('href', document.querySelector('canvas').toDataURL('png'));
      download.setAttribute('download', 'screenshot.png');
      download.textContent = 'Stahnout';
      download.className = 'absolute right-0 m-4';
      document.querySelector('.game').replaceChild(download, screenshot);
    }
    screenshot.onclick = ScreenShot;
*/
    function EverythingToScope() {
      let elements = [];
      let bottom = document.querySelector('#info_footer');
      while (bottom.nextSibling !== null) {
        bottom = bottom.nextSibling;
        if (bottom.tagName !== 'SCRIPT') {
          elements.push(bottom);
        }
      }

      let game = document.querySelector('.game');
      for (let i = 0; i < elements.length; i++) {
        game.appendChild(elements[i]);
      }
    }
  });


</script>
<script>
  window.onload = function () {
    new WOW().init({ live: false, mobile: false });
  };
</script>


{{ end }}