{{define "Head"}}
{{ if not .Params.mobile }}
<meta name="viewport" content="width=1280" />
{{ end }}
{{if .Params.redirect}}
<script>
  window.location.replace('{{.Params.redirect}}');
</script>
{{ end }}
{{ range.Params.libs }}
{{if eq . "P5.JS" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.sound.min.js"></script>

{{else if eq . "PHASER3"}}
<script src="//cdn.jsdelivr.net/npm/phaser@3.18.1/dist/phaser.min.js"></script>
{{ else if in . "https://"}}
<script src="{{.}}"></script>
{{ else if in . "http://"}}
<script src="{{.}}"></script>
{{else}}{{ end }}
{{ end }}
{{ end }}

{{define "header"}}
<h1>{{.Title}}</h1>

{{ end }}
{{ define "content" }}

<div class="game">
  <button id="screenshot" class="absolute right-0 m-4" style="display: none">Vyfotit</button>

  {{.Content}}
</div>

<script>
    function disableScrolling(){
      console.log('scroll disabled')
      var x=window.scrollX;
      var y=window.scrollY;
      window.onscroll=function(){window.scrollTo(x, y);};
  }

  function enableScrolling(){
    console.log('scroll enabled')
      window.onscroll=function(){};
  }
  let eventSet = false;
  let counts = 0;
  let placeCanvasInterval
  window.addEventListener('DOMContentLoaded', event => {
     placeCanvasInterval = setInterval(function() {
      let main = document.querySelector('main .game');
      let IScanvas = document.querySelector('main .game canvas');
      let canvas = document.querySelector('canvas');
      EverythingToScope()





      if (!IScanvas && canvas) {
        document.querySelector('main .game').appendChild(canvas);
        canvas.style.display = 'block';


          if(canvas !== null && !eventSet){
             document.body.onclick = function(e){
              if(e.path[0].id === "defaultCanvas0"){
              disableScrolling()
              } else {
              enableScrolling()
              }
            }

           eventSet = true;

          {{if  in .Params.libs "P5.JS" }}
          screenshot.style.display = 'block';
          {{end}}
        }




      }
    }, 300);
    let screenshot = document.querySelector('#screenshot');
    function ScreenShot() {
      const download = document.createElement('a');
      download.setAttribute('href', document.querySelector('canvas').toDataURL('png'));
      download.setAttribute('download', 'screenshot.png');
      download.textContent = 'Stahnout';
      download.className = 'absolute right-0 m-4';
      document.querySelector('.game').replaceChild(download, screenshot);
    }
    screenshot.onclick = ScreenShot;

    function EverythingToScope() {
      let elements = []
      let bottom = document.querySelector('#info_footer')
      while (bottom.nextSibling !== null) {
        bottom = bottom.nextSibling;
        if (bottom.tagName !== "SCRIPT") {
          elements.push(bottom)
        }
      }

      let game = document.querySelector('.game')
      for(let i = 0; i < elements.length;i++){
        game.appendChild(elements[i])
      }

    }
  });
</script>

{{ end }}
