<div class="bar flex justify-between p-3">
  <div class="">
    <label for="clanky_filter">Filtr:</label>
    <select
      name="clanky_filter"
      style="background: lightyellow;"
      class="border border-2 border-black text-lg font-medium p-1 px-3"
      id="clanky_filter"
    >
      <option value="all" selected>všechno</option>
    </select>
  </div>
  <a href="technologie/">Seznam Technologií</a>
</div>

<section class="clanky flex flex-wrap">
  {{$mujindex := 0}}
  {{ range first 200 (where .Data.Pages "Dir" "projekty/") }}
  <article
    data-tags="{{.Params.tags}}"
    data-title="{{.Title}}"
    class="shadow shadow-lg   flex-col sm:flex-1 clanek p-4 m-3 rounded bg-green-200  fadeIn  {{ if lt $mujindex 3 }}animated{{else}}wow
    {{ end }}"
  >
    {{$mujindex = (add $mujindex 1)}}
    <div class="mx-auto  sm:w-56">
      <div class="libraries flex justify-around mb-3  ">
        {{ range.Params.libs }}
        <a href="/technologie/{{(lower .)}}">
          <img class="block" src="logo/{{.}}.png" />
        </a>
        {{ end }}
      </div>
      <a href="{{.Permalink}}">
        <div class="hlavni  text-center">
          <div class="image-wrapper">
            <div
              class="image"
              style="background: lightgray url('{{if .Params.thub}}{{.Params.thub}}{{else}}https://placehold.jp/480x320.png
              {{ end }}'); background-size:cover"
            >
              <!-- <img class="rounded m-auto text-center" src="https://placehold.jp/480x320.png" alt="" /> -->
            </div>
          </div>
          <h2 class="font-mono  font-medium mt-3">
            {{.Title}}
          </h2>
        </div>
      </a>
    </div>

    <p>
      {{.Params.desc}}
      {{/*  {{if .Params.desc eq nil}}
      {{if (len .Params.desc) lt 10}}
      {{.Params.desc}}
      {{ end }}
      {{ else }}
      {{substr .Summary 0 100 }}
      {{if (len .Summary) lt 100}}
      ...
      {{ end }}
      {{ end }} */}}
    </p>
  </article>
  {{ end }}
  <!-- <script>
    const app = new Vue({
      el: '.clanky',
      data: {
        message: 'Hello Vue!',
      },
    });
  </script> -->

  <script>
    let filterTriggerred = false;

    let indexesToChange = [];
    let clanky = {};
    let clankyDOM = document.querySelectorAll('.clanky .clanek');
    clankyDOM.forEach((dm, index) => {
      let nazev = dm.getAttribute('data-tags').replace(/[\[\]]/g, '');
      const clankynazev = clanky[nazev];
      if (clankynazev) {
        clankynazev.push(index);
      } else {
        clanky[nazev] = [];
        clanky[nazev].push(index);
      }
      indexesToChange.push(false);
    });
    // console.log(clanky);
    const filterDOM = document.querySelector('#clanky_filter');
    for (let clanek in clanky) {
      let option = document.createElement('option');
      option.setAttribute('value', clanek);
      option.textContent = clanek;
      filterDOM.appendChild(option);
    }
    filterDOM.onchange = handleChange;
    function handleChange(c) {
      const selectedValue = filterDOM.options[filterDOM.selectedIndex].getAttribute('value');
      /*  if (filterTriggerred === false) {
        filterTriggerred = true;
        for (let i = 0; i < clankyDOM.length; i++) {
          clankyDOM[i].className += ' animated';
        }
      }  */
      if (selectedValue !== 'all') {
        indexesToChange = indexesToChange.map(v => {
          return false;
        });

        for (let v of clanky[selectedValue]) {
          indexesToChange[v] = true;
        }

        for (let i = 0; i < clankyDOM.length; i++) {
          if (indexesToChange[i] === true) {
            clankyDOM[i].style.display = 'block';
          } else {
            clankyDOM[i].style.display = 'none';
          }
        }
      } else {
        for (let i = 0; i < clankyDOM.length; i++) {
          clankyDOM[i].style.display = 'block';
        }
      }
      let y = window.scrollY;
      window.scrollTo(window.scrollX, y + 1);
      window.scrollTo(window.scrollX, y);
    }
  </script>
  <script>
    new WOW().init({ live: false, mobile: false });
  </script>
</section>
