
<div class="vdabg pb-10 md:pb-0">
  <style>
    #slideshow {
      transition: left 1s;
    }
  
    .gallery-dots div {
      background: radial-gradient(#fff, #fff, rgb(128, 128, 128), #000000);
    }
  
    .gallery-dots [aktivni] {
      background: radial-gradient(rgb(24, 120, 184), rgb(32, 98, 221), rgb(0, 174, 255), rgb(27, 109, 233));
    }
  
    #phototext {
      z-index: 99;
      opacity: 0.72;
      background: rgb(0, 0, 0);
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>

  <div class="max-w-6xl mx-auto">
    {{$photos := index (where .Pages ".Title" "Galerie - NEZOBRAZOVAT !!!") 0}}
    {{$photoCount := len (where $photos.Params.images . "<>" "")}}
    {{if ne $photoCount 0}}
    <div class="gallery-wrapper">
      <div class="overflow-hidden rounded">
        <div class="gallery flex flex-1 flex-row relative" style="width:{{ $photoCount }}00%;" id="slideshow">
          {{ $i := 0 }}
          {{range $photos.Params.images}}
          <div class="photo"  popis="{{index $photos.Params.desc $i}}"
            style="background-image: url({{ . }});height: 0; width: 100%;padding-bottom: {{div 43.5 $photoCount}}%;"></div>
          {{$i = add $i 1}}
          {{ end }}
        </div>
      </div>
    </div>
    <div id="phototext" class=" bg-black h-10 w-full -mt-10 text-center text-white pt-2 font-semibold text-sm rounded ">
      nejakej text
    </div>
    
    <div class="hidden md:flex gallery-dots  justify-center pt-5">
      {{ $i := 0 }}
      {{range $photos.Params.images}}
      <div index="{{$i}}" class="rounded-full w-3 h-3 bg-white shadow-inner mx-2"></div>
      {{$i = add $i 1}}
      {{ end }}
    </div>
    </div>
    <hr class="border border-white" />
    {{end}}

  </div>
</div>
