{{-- <section class="clanky flex flex-wrap">
    {{$mujindex := 0}}
    {{ range first 200 (where .Data.Pages "Dir" "projekty/") }}
    <article data-tags="{{.Params.tags}}" data-title="{{.Title}}" class="shadow shadow-lg   flex-col sm:flex-1 clanek p-4 m-3 rounded bg-green-200  fadeIn  {{ if lt $mujindex 3 }}animated{{else}}wow
      {{ end }}">
        <div class="mx-auto  sm:w-56">
            <div class="libraries flex justify-around mb-3  ">
                {{ range.Params.libs }}
                <a href="/technologie/{{(lower .)}}" data-tippy="{{(substr . 0 1)}}{{(substr (lower .) 1)}}">
                    <img class="block" src="logo/{{.}}.png" />
                </a>
                {{ end }}
            </div>
            <a href="{{.Permalink}}">
                <div class="hlavni  text-center">
                    <div class="image-wrapper">
                        <div class="image" style="background: lightgray url('{{if .Params.thub}}{{.Params.thub}}{{else}}https://placehold.jp/480x320.png
                {{ end }}'); background-size:cover">
                            <!-- <img class="rounded m-auto text-center" src="https://placehold.jp/480x320.png" alt="" /> -->
                        </div>
                    </div>
                    <h2 class="font-mono  font-medium mt-3">
                        {{.Title}}
                    </h2>
                </div>
            </a>
        </div>

        <p>
            {{.Params.desc}}
        </p>
    </article>
    {{ end }}



</section>
--}}
