{{define "Head"}}
<style>
  .onhovergrow:hover .logogrow:nth-child(1),
  .onhovergrow:hover .logogrow:nth-child(3) {
    width: var(--logosize3);
  }
  .onhovergrow:hover .logogrow:nth-child(2) {
    width: var(--logosize12);
  }
  .onhovergrow .logogrow:nth-child(1),
  .onhovergrow .logogrow:nth-child(3) {
    width: var(--logosize3);
  }
  .onhovergrow .logogrow:nth-child(2) {
    width: var(--logosize12);
  }
  .onhovergrow .logogrow {
    display: block;
  }
  .onhovergrow:hover hr {
    width: 210px;

    opacity: 1;
  }
  @keyframes logoanim3 {
    0% {
      width: 0px;
    }
    100% {
      width: var(--logosize3);
    }
  }
  @keyframes logoanim12 {
    0% {
      width: 0px;
    }
    100% {
      width: var(--logosize12);
    }
  }
</style>
<meta
  name="description"
  content="Web kde sdílím svoje projekty. Většina výtvorů je zde vytvořena za pomocí JavaScriptu a používám framework P5.JS"
/>
{{ end }}
{{define "Title"}}
<title>Můj Programovací Web</title>
{{ end }}
{{define "navlink"}}
<a href="https://github.com/sirluky/">
  <img src="/logo/GITHUB.svg" class="w-8 h-8 -mt-1 animated delay-1s fadeIn" alt="Github logo"
/></a>
<a href="http://mpw.8u.cz" class="sm:w-64 text-right">Stará verze</a>
{{ end }}
{{define "header"}}
<h1>
  Vitejte na mém webu, dnes je
  <script>
    document.write(new Date().toLocaleDateString().replace(' ', '&nbsp; '));
  </script>
</h1>
<aside class="intro max-w-4xl mx-auto animated fadeIn faster">
  <p class="">
    Zde sdílím mnou naprogramované webové aplikace, v jazycích, kterým se věnuji/věnoval. Většina výtvorů je zde
    vytvořena za pomocí JavaScriptu a používám framework P5.JS, který některé příkazy z JavaScriptu zjednodušuje (hlavně
    kreslení).
  </p>
  <p class="">JavaScript je skvělý jazyk, jelikož cokoliv co napíšete můžete spustit kdekoliv.</p>
</aside>
{{ end }}

{{define "content"}}
<h2 class="text-3xl">Moje projekty</h2>
<hr class="border border-green-200 opacity-50" />
{{ partial "clanky" . }}
<h2 class="text-3xl pt-8">Názory na Web</h2>
<div class="disqus px-2">
  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}

{{define "Head"}}
{{ end }}
