{{define "header"}}
<h1>
  Vitejte na mém webu, dnes je
  <script>
    document.write(new Date().toLocaleDateString().replace(' ', '&nbsp;'));
  </script>
</h1>
<p class="max-w-4xl mx-auto">
  Zde sdílím mnou naprogramované webové aplikace, v jazycích, kterým se věnuji/věnoval. Momentálně nejčastěji programuji
  v JavaScriptu a používám framework P5.JS, který některé příkazy z JavaScriptu zjednodušuje (hlavně kreslení).
</p>
{{ end }}

{{define "content"}}
<h2>Nejnovější</h2>
<section>
  {{ range first 5 .Data.Pages }}
  <article>
    <a href="{{.Permalink}}">{{.Title}}</a>
    <div class="libraries">
      {{ range.Params.libs }}
      <img src="logo/{{.}}.png" />
      {{ end }}
    </div>
  </article>
  {{ end }}
</section>
{{ end }}
