{{define "Title"}}
<title>Můj Programovací Web</title>
{{ end }}
{{define "navlink"}}
<a href="https://github.com/sirluky/">GitHub</a>
<a href="http://mpw.8u.cz">Stará verze</a>
{{ end }}
{{define "header"}}
<h1>
  Vitejte na mém webu, dnes je
  <script>
    document.write(new Date().toLocaleDateString().replace(' ', '&nbsp; '));
  </script>
</h1>
<aside class="intro max-w-4xl mx-auto animated fadeIn faster">
  <p class="">
    Zde sdílím mnou naprogramované webové aplikace, v jazycích, kterým se věnuji/věnoval. Většina výtvorů je zde
    vytvořena za pomocí JavaScriptu a používám framework P5.JS, který některé příkazy z JavaScriptu zjednodušuje (hlavně
    kreslení).
  </p>
  <p class="">JavaScript je skvělý jazyk, jelikož cokoliv co napíšete můžete spustit kdekoliv.</p>
</aside>
{{ end }}

{{define "content"}}
<h2 class="text-3xl">Moje projekty</h2>
<hr class="border border-green-200 opacity-50" />
{{ partial "clanky" . }}
{{ end }}

{{define "Head"}}
{{ end }}
