.clanky .clanek:hover {
  transform: scale(1.07);
  transition: 300ms;
}

.clanky .clanek {
  transition: 100ms;
}
.clanky .clanek .hlavni img {
  width: 100%;
  height: 66.66666%;
}

.popupBox svg {
  background: black;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 100;
  padding: 10px;
  opacity: 0.2;
  border-radius: 10px;
  transition: 100ms;
}

.popupBox.lock svg {
  opacity: 0.5;
}
.popupBox.lock svg,
.popupBox.unlock svg {
  max-width: 50px;
  color: white;
}
.popupBox svg:hover {
  opacity: 0.9;
}
.image-wrapper {
  position: relative;
  padding-bottom: 66.666666%;
  height: 0;
  overflow: hidden;
}
.image-wrapper div.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.techHighlight {
  background: rgba(255, 240, 156, 0.616);
}

.tech:hover {
  background: rgba(116, 108, 75, 0.068);
}
.techbar img {
  width: 50px;
}

.game {
  text-align: center;
}
.libraries img,
.photoicon {
  width: 20px;
  max-height: 20px;
}
main.mcontent a {
  color: #1c4e37;
}
main.mcontent .clanky a {
  color: #3b2809;
}
iframe {
  margin: auto;
}

.mcontent ol {
  list-style-type: decimal;
}
.mcontent ul {
  list-style-type: circle;
}
.mcontent ol {
  counter-reset: item;
}

.mcontent ol > li {
  text-indent: -25px;
  list-style-type: none;
  counter-increment: item;
}

.mcontent ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) '.';
}
.mcontent ol,
ul {
  padding-left: 50px;
  text-align: left;
}
.mcontent ol li,
ul li {
  padding-left: 4px;
}
.mcontent button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.float-unset {
  float: unset;
}
.mcontent img,
iframe {
  padding: 5px;
}
.mcontent .technologie iframe {
  overflow: auto;
}

.clanky .clanek img {
  padding: 0;
}
