{{define "header"}}
<h1>Seznam Technologií</h1>

{{ end }}
{{define "content"}}

{{ partial "technologie/logos" . }}
<div class="animated fadeInUp technologie">
  <h2>{{.Title}}</h2>
  <section class="content">
    {{if lt (len .Content) 10}}
    <p>
      Článek o této technologii ještě není napsán{{if .Params.link}}, ale můžete se podívat na jejich
      <a target="_blank" rel="noopener noreferrer" href="{{.Params.link}}">Officiální stránky</a>{{ end }}.
    </p>
    {{else}}
    {{.Content}}
    {{if .Params.link}}
    <small class="pl-3 text-base "
      >Více naleznete na
      <a target="_blank" rel="noopener noreferrer" href="{{.Params.link}}">Officiálních stránkách</a></small
    >
    {{ end }}
    {{ end }}
  </section>
</div>
<style>
  img {
    margin: 10px;
    text-align: left;
    display: inline-block;
  }
</style>
{{ end }}
